
.groupSearch {
    flex-grow: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
  }
  
  .groupSearch form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .groupSearch div {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
  }
  
  .groupSearch form div * {
    border: 1px solid rgb(170, 170, 170);
    height: 30px;
    font-size: 0.7rem;
  }
  
  .groupSearch input {
    border-radius: 10px;
    padding-left: 10px;
  }
  
  .groupSearch button {
    border-radius: 5px;
    width: 80px;
  }
  
  .groupSearch button:hover {
    cursor: pointer;
    background: rgb(204, 204, 204);
  }