.slidingNavbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 999;
  transition: all 0.3s ease;
  overflow: hidden;
}

.slidingNavbar .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.slidingNavbar .navbarContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translate(0, -50%);
  right: -300px;
  width: 300px;
  height: fit-content;
  background: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  transition: right 0.3s;
}

.slidingNavbar.open {
  pointer-events: all;
}

.slidingNavbar.open .overlay {
  opacity: 1;
}

.slidingNavbar.open .navbarContent {
  right: 0;
}

.options {
  width: 100%;
}
