@import url(../../../styles/variables.css);

/* Container Styles */
.container {
  width: 200px;
  height: fit-content;
  cursor: default;
  margin-right: 20px;
  pointer-events: none;
}
.container:hover .navbarContent {
  max-height: 300px;
}

/* Navbar Content Styles */
.navbarContent {
  position: absolute;
  max-height: 0px;
  height: fit-content;
  width: fit-content;
  padding-right: 10px;
  transition: max-height 0.2s ease-in;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  pointer-events: all;
  background: var(--dark-primary);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  cursor: default;
  overflow: hidden;
}

/* Option Styles */
.option {
  background: transparent;
  color: white;
  margin: 5px;
  width: 100%;
  height: 20px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  cursor: pointer !important;
  transition: transform 0.2s;
  text-align: left;
}
.option p {
  text-align: left;
}
.option:hover {
  transform: translateY(-2px);
}

/* Icon Wrapper Styles */
.iconWrapper {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrapper svg {
  width: 100%;
  height: 100%;
}

/* Settings Icon Styles */
.settingsIcon {
  background: var(--primary);
  padding: 5px;
  margin-left: auto;
  margin-top: 15px;
  width: fit-content;
  height: fit-content;
  pointer-events: auto;
  transition: 0.3s;
}
.settingsIcon svg {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.settingsIcon:hover svg {
  transform: rotate(120deg);
}
