@import url("../../../styles/variables.css");

.container {
  width: 100%;
  height: 100%;
  background: #09349e;
}

.userLabel {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  filter: brightness(1.3) !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userLabel p {
  font-size: 1.7rem;
  font-weight: bolder;
  color: white;
  text-overflow: ellipsis;
}

.profilePic {
  width: 35%;
}
