@import url("../../../styles/variables.css");

.container {
  width: 100%;
  height: 100%;
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.userLabel {
  /* border: 1px solid magenta; */
  width: 30%;
  height: 100%;
  max-height: min-content;
  padding: 10px;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userLabel img {
  height: 6rem;
  width: 6rem;
}
.userLabel p {
  width: 300px;
  min-width: 300px;
}
